.modal-overlay data-controller="modal"
  .modal
    h2 #{facility.name}
    h3 初回チェックイン🎉
    p ここに「Xにポストする」のリンクを表示させる
    = button_tag "閉じる", class: "close-modal",
      data: { action: "click->modal#close", url: facility_checkin_logs_path(facility) }
