div class="modal-overlay" data-controller="modal"
  div class="modal"
    h2 #{facility.name}
    h3 初回チェックイン🎉
    = link_to "Xにポストする", "https://twitter.com/intent/tweet?text=#{facility.name}に初めてチェックインしました🎉&hashtags=スパコレ,spacolle,スーパー銭湯,スタンプラリー", target: "_blank", rel: "noopener noreferrer"
    br
    = button_tag "閉じる", class: "close-modal",
      data: { action: "click->modal#close", url: facility_checkin_logs_path(facility) }
