= javascript_include_tag "map", "data-turbolinks-track": "reload", preload: true, as: "script"

h1 class="text-3xl md:text-4xl font-bold mt-6 mb-6" 付近の施設を検索
div#map data-facilities=@facilities.to_json data-image-url="#{asset_path('hot_spring.svg')}" class="w-[80%] h-[60vh] mb-6"
= link_to "トップページへ戻る", root_path, class: "back_top_link text-lg text-blue-600 visited:text-purple-600 underline mt-auto mb-6"

script(src="https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_map_api_key}&callback=initMapWithCurrentLocation" defer)
