div class="mt-4 mb-4"
  div class="bg-white rounded-lg p-4 mt-4 mb-4"
    h2 class="text-[#2c4a52] font-bold text-xl mb-4"
      | 東京
      span.font-sans 23
      | 区の<br>
      | スーパー銭湯を探そう
    div class="w-[240px] block mx-auto"
      = image_tag "search_facility.svg", alt: "地図で施設を探しているイラスト", class: "p-6 mb-2 div w-[240px] block mx-auto"
    p class="text-[#537072]"
      | 行きたいスーパー銭湯を見つけましょう！<br>
      | マップと施設一覧から探せます🔍
  div class="bg-white rounded-lg p-4 mt-4 mb-4"
    h2 class="text-[#2c4a52] font-bold text-xl mb-4"
      | スーパー銭湯で<br>
      | チェックイン
    = image_tag "spa.svg", alt: "入浴しているイラスト", class: "p-6 mb-2 div w-[240px] block mx-auto"
    p class="text-[#537072]"
      | スーパー銭湯を訪問して<br>
      | GPSチェックインをしましょう♨️<br>
      | チェックインでは訪問日が記録されます。<br>
      span.text-xs.font-bold.font-sans ※ 施設から離れているとチェックインできません。
  div class="bg-white rounded-lg p-4 mt-4 mb-4"
    h2 class="text-[#2c4a52] font-bold text-xl mb-4"
      | 目指せ全施設制覇！
    = image_tag "fight.svg", alt: "応援している人達のイラスト", class: "p-6 mb-2 div w-[240px] block mx-auto"
    p class="text-[#537072]"
      | スーパー銭湯を訪問すると、<br>
      | スタンプカードの訪問数が変化します✨<br>
      | 全ての施設を巡ってみましょう！
