.stamp-card-table {
  border-collapse: collapse;
}

.stamp-card-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.stamp-card-table tr {
  border-bottom: 1px solid #000;
}

.stamp {
  display: block;
  background: url("/assets/hot_spring.svg") no-repeat center;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
