footer style="background-color: #EDBBBD;" class="text-white p-4 flex items-center justify-center h-24"
  .container.flex.flex-col.items-center.text-center
    = link_to "利用規約・プライバシーポリシー", terms_path, class: "block"
    p.mt-2 © 2025 Judeee スパコレ
