footer class="bg-[#EF454A] text-white p-4 flex items-center justify-center h-24"
  div class="footer-container flex flex-col items-center text-center"
    = link_to "利用規約・プライバシーポリシー", terms_path, class: "terms-link block underline hover:no-underline"
    p class="mt-2" © 2025 Judeee スパコレ
